<!DOCTYPE html>
<html>
<head>
	
	<title>Platypus DataVis - index</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
</head>
<body>

<h1>ERM Robotic Boat Sensor Data</h1>

<ul>
{% for file in log_files %}
  <li><a href="/logs/{{ file }}/0">{{ file }} PH</a> | <a href="/logs/{{ file }}/1">{{ file }} EC</a> | <a href="/logs/{{ file }}/2">{{ file }} Temperature | <a href="/logs/{{ file }}/3">{{ file }} Turbidity</a></li>
{% endfor %}
</ul>

</body>
</html>
