<!DOCTYPE html>
<html>
<head>

    <title>Quick Start - Leaflet</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
</head>
<body>

    <h2><a href="/">Data Home</a></h2>
    <h3>{{ log_file }} - {{ sensor_name }}</h3>

    <br>
    <a href="/csv/{{ log_file }}-{{ sensor_name }}-csv.csv">This run's raw {{ sensor_name }} data</a> 
    <br>

    <a href="/logs/{{ log_file }}/0">This run's pH data</a> | <a href="/logs/{{ log_file }}/1">This run's EC data</a> | <a href="/logs/{{ log_file }}/2">This run's Temperature data</a> | <a href="/logs/{{ log_file }}/3">This run's Turbidity data</a><br><br>

    <div id="mapid" style="width: 1024px; height: 640px;"></div>
    <img src="{{ data['bar_filename'] }}" width="1024px" />
    <img src="/histograms/{{ data['histogram_filename'] }}" width="1024px" />

    <script>
        var map = L.mapbox.map('mapid');

        var mapboxStreetTiles = L.tileLayer("https://api.mapbox.com/styles/v1/shawnhanna/cjkcufgf51bgf2snz3b8np472/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic2hhd25oYW5uYSIsImEiOiJjamlvZXNpbHcwYmtpM2txbTBsNWJxaTU1In0.BYk2lmEsaOXECnVN3LbHKg", {
            attribution: '© <a href="https://www.mapbox.com/feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            maxZoom: 20
        });

        // var mapboxTerrainTiles = L.tileLayer("https://api.mapbox.com/styles/v1/shawnhanna/cjkcv3ckc97jy2rpbf5oolvgd/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic2hhd25oYW5uYSIsImEiOiJjamlvZXNpbHcwYmtpM2txbTBsNWJxaTU1In0.BYk2lmEsaOXECnVN3LbHKg", {
        //     attribution: '© <a href="https://www.mapbox.com/feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        //     maxZoom: 20
        // });

        var mapboxSatelliteTiles = L.tileLayer("https://api.mapbox.com/styles/v1/shawnhanna/cjkcv7kxt5ini2rpoq9tki0iv/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic2hhd25oYW5uYSIsImEiOiJjamlvZXNpbHcwYmtpM2txbTBsNWJxaTU1In0.BYk2lmEsaOXECnVN3LbHKg", {
            attribution: '© <a href="https://www.mapbox.com/feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            maxZoom: 20
        });
        

        var data_bounds =  {{ data["data_bounds"] }}

        var bounds = new L.LatLngBounds(
            new L.LatLng(data_bounds[0][0], data_bounds[0][1]),
            new L.LatLng(data_bounds[1][0], data_bounds[1][1])
            )
        console.log(bounds)
        map.fitBounds(bounds);

        var overlay = new L.imageOverlay("{{ data['overlay_filename'] }}", bounds, {
            opacity: 0.8,
            interactive: false,
            attribution: '&copy; Platypus LLC'
        });

        map.addLayer(mapboxStreetTiles);
        map.addLayer(overlay);
        L.control.layers({
            // "Terrain": mapboxTerrainTiles,
            "Street": mapboxStreetTiles,
            "Satellite": mapboxSatelliteTiles
        }, null).addTo(map);

        var bounds_poly = L.rectangle([bounds.pad(0.05).getSouthWest(),bounds.pad(0.05).getNorthEast()],
            {color: 'red', interactive: false, weight: 1, fill: false}
            ).addTo(map);

        </script>

        <br>
        <a href="/reprocess/{{ log_file }}/{{sensor_id}}">REPROCESS DATA</a>
    </body>
</html>
